<div data-ng-controller="LoginCtrl" class="col-md-offset-4 col-md-4">
	<!-- push a new message onto the array -->
	<button class="btn btn-warning login-btn google-login" data-ng-click="logIn('google')"> <i class="fa fa-google" aria-hidden="true"></i> Google</button>
	<button class="btn btn-warning login-btn github-login" data-ng-click=""><i class="fa fa-github" aria-hidden="true"></i> Github</button>
	<button class="btn btn-warning login-btn facebook-login" data-ng-click=""><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</button>
</div>
